@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Headland+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap");

:root {
  /* FONTS */
  --display-font: "Playfair Display", sans-serif;
  --handland-one-font: "Headland One", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --serif-caption-font: "PT Serif Caption", sans-serif;

  /* COLORS */
  --black: #000000;
  --white: #ffffff;
  --dark-green: #485c11;
  --dark-gray: #6f6f6f;
  --gray-opacity: #6f6f6f34;
  --accent1-color: #929292;
  --accent2-color: #e9e9e9;
  --accent3-color: #dfecc6;
  --accent4-color: #8e9c78;

  /* WIDTH */
  --max-width: 90%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: var(--max-width);
}

body {
  overflow-x: hidden;
  background: var(--white);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: var(--dark-gray);
  font-size: 20px;
}

hr {
  margin-bottom: 2rem;
}

.learn_more_btn {
  background: var(--dark-green);
  color: var(--white);
  border: none;
  border-radius: 35px;
  padding: 1rem 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.arrow_hover {
  transform: translateY(0);
  transition: 0.3s ease !important;
}

.learn_more_btn:hover {
  background: var(--accent4-color);
  .arrow_hover {
    transform: translateY(-5px);
  }
}

nav {
  position: fixed;
  width: 100%;
  background: var(--white);
  display: flex;
  flex-direction: column;
  z-index: 100;
  transition: 0.6s ease;
  border-radius: 0 0 25px 25px;
}

.scroll_nav {
  box-shadow: 10px 0 20px 0 #000000;
}

.desktop_nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  border-radius: 25px;
}

.nav_logo {
  font-size: 35px;
  font-weight: 500;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

.desktop_nav ul {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.desktop_nav ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.desktop_nav ul li::before {
  content: "";
  background: var(--black);
  height: 2px;
  width: 0;
  position: absolute;
  bottom: -3px;
  transition: 0.5s ease;
}

.desktop_nav ul li:hover::before {
  width: 100%;
}

.mobile_nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background: var(--white);
  border-radius: 25px;
}

.mobile_nav_selection_list {
  direction: rtl;
  padding: 1rem 0;
  position: absolute;
  width: 100%;
  height: 22rem;
  top: 0;
  left: 0;
  transform: translateY(-20rem);
  background: var(--white);
  border-radius: 0 0 25px 25px;
  box-shadow: 0 3px 20px 0 #000000;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: -1;
  transition: 0.5s;
}

.show_list {
  transform: translateY(5.2rem);
}

.mobile_nav_selection_list li {
  padding: 1.4rem 2rem;
  list-style: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.mobile_nav_selection_list li:hover {
  background: var(--gray-opacity);
}

.mobile_nav_selection_list button {
  direction: ltr;
  margin: 0.5rem 2rem;
  width: 10rem;
}

.mobile_menu_icon {
  cursor: pointer;
}

.arrowUpIcon {
  font-size: 40px !important;
}

.backToTop {
  scale: 1;
  display: block;
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background: var(--accent4-color);
  box-shadow: inset 5px 3px 10px 0 #ffffff98, inset -5px -5px 8px 0 #000000,
    3px 4px 10px 0 #00000094;
  color: var(--white);
  cursor: pointer;
  z-index: 99;
  transition: 1s ease;
}

.show_backToTop {
  scale: 0.7;
  display: none;
  transition: 1s ease;
}

.backToTop:hover {
  scale: 1.15;
  box-shadow: inset 5px 3px 10px 0 #ffffffc7, inset -5px -5px 8px 0 #000000,
    3px 4px 10px 0 #000000;
}

header {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_content {
  font-size: 100px;
  font-weight: 500;
  transform: translateY(20px);
}

.desktop_hero_image {
  margin-top: 14rem;
  width: 80%;
  height: 400px;
  background: var(--accent4-color);
  border-radius: 25px;
  position: relative;
  z-index: 0;
}

.desktop_image {
  width: 100%;
}

.desktop_hero_frame {
  width: 90%;
  height: 100vh;
  position: relative;
  left: 50%;
  top: -30%;
  transform: translateX(-50%);
  background: var(--black);
  border-radius: 15px;
  border: solid 1px #696969;
  box-shadow: 0 0 10px 0 #696969;
  z-index: 1;
  transition: 0.7s ease;
}

.tablet_hero_image {
  margin-top: 14rem;
  width: 100%;
  height: 400px;
  background: var(--accent4-color);
  border-radius: 25px;
  position: relative;
  z-index: 0;
}

.tablet_image {
  width: 100%;
  height: 60%;
}

.tablet_hero_frame {
  width: 90%;
  height: 100vh;
  position: relative;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
  background: var(--black);
  border-radius: 15px;
  border: solid 1px #696969;
  box-shadow: 0 0 10px 0 #696969;
  z-index: 1;
  transition: 0.7s ease;
}

.mobile_hero_image {
  margin-top: 14rem;
  width: 100%;
  height: 400px;
  background: var(--accent4-color);
  border-radius: 25px;
  position: relative;
  z-index: 1;
}

.mobile_image {
  width: 80%;
  height: 100vh;
  position: relative;
  left: 50%;
  top: -40%;
  transform: translateX(-50%);
  z-index: 1;
  transition: 0.7s ease;
}

main {
  background: var(--white);
  position: relative;
  z-index: 2;
}

.trusted_by {
  padding: 5rem 0;
}

.logos_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 4rem;
}

.benefits {
  padding: 5rem 0;
}

.benefits_h2 {
  font-family: serif;
  font-size: 110px;
  font-weight: 500;
  transition: 0.7s ease;
}

.icons_module {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 7rem;
}

.icon_lockup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.icon_lockup::before {
  content: "";
  background: var(--gray-opacity);
  height: 3px;
  width: 100%;
  margin-bottom: 1rem;
}

.benefits_icon {
  font-size: 35px !important;
}

.icon_lockup h4 {
  font-family: serif;
  font-size: 20px;
  font-weight: 500;
}

.icon_lockup p {
  font-size: 17px;
}

.benefits_image {
  margin: 8rem 0;
  background: #000;
  width: 100%;
  height: 900px;
  border-radius: 25px;
  overflow: hidden;
  object-fit: cover;
}

.features_carousel {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.features_carousel_text {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.7rem;
}

.features_carousel_text::before {
  content: "";
  background: var(--gray-opacity);
  height: 2px;
  width: 100%;
  margin-bottom: 1rem;
}

.features_carousel_title {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.features_carousel_title h2 {
  font-family: serif;
  font-size: 60px;
  font-weight: 500;
}

.features_carousel_list ul {
  display: flex;
  flex-direction: column;
}

.features_carousel_list ul li {
  position: relative;
  padding: 1.5rem 0;
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.features_carousel_list ul li h5 {
  font-size: 17px;
  color: var(--accent1-color);
}

.features_carousel_list ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--gray-opacity);
  height: 2px;
  width: 100%;
  margin-bottom: 1rem;
}

.features_carousel_button {
  background: var(--accent3-color);
  color: var(--black);
  border: none;
  border-radius: 35px;
  padding: 1rem 1.5rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.features_carousel_button:hover {
  background: var(--accent4-color);
  color: var(--white);
}

.features_carousel_image {
  width: 45%;
  height: 730px;
  border-radius: 25px;
}

.specifications_table {
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.specifications_table_content {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.3rem;
}

.specifications_table_content .specs {
  color: var(--dark-green);
}
.specifications_table_content h2 {
  font-family: serif;
  font-size: 60px;
  font-weight: 500;
}

.specifications_table_button {
  background: var(--accent3-color);
  color: var(--black);
  border: none;
  border-radius: 35px;
  padding: 1rem 1.5rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.specifications_table_button:hover {
  background: var(--accent4-color);
  color: var(--white);
}

.specifications_table_table {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: scroll;
}

.column {
  margin: 20px 0;
  width: 100%;
  min-width: 350px;
  border-radius: 25px;
  transition: 0.3s ease;
  overflow: hidden;
}

.column:hover {
  scale: 1.002;
  box-shadow: 2px 2px 10px 0 #00000048;
  .table_head h2 {
    color: #000;
  }
}

.column hr {
  margin-bottom: 0;
}

.table_head h2 {
  padding: 2.5rem 0 2rem 0;
  text-align: center;
  color: var(--dark-gray);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 26px;
  cursor: default;
  transition: 0.3s ease;
}

.table_body .table_icon {
  font-size: 20px;
  transform: translateY(3px);
}

.table_body p {
  color: var(--black);
  padding: 2rem;
  border: solid 1px var(--gray-opacity);
  transition: 0.3s ease;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

.table_body .first_row {
  border-top: none;
}

.table_body .last_row {
  border-bottom: none;
}

.testimonial_section {
  margin-bottom: 7rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.testimonial_image {
  width: 60%;
  border-radius: 25px;
}

.testimonial_quote {
  position: relative;
  width: 40%;
  padding: 9rem 0 9rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.testimonial_quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--gray-opacity);
  height: 2px;
  width: 100%;
}

.testimonial_quote p {
  color: var(--black);
  font-size: 50px;
  font-family: serif;
}

.quote_name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quote_name p {
  font-size: 17px;
  font-family: sans-serif;
}

.quote_name .head_data {
  font-size: 14px;
  font-weight: 600;
  word-spacing: 3px;
  color: var(--dark-green);
}

.howTo_section {
  position: relative;
  padding: 6rem 0 9rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.howTo_section::before {
  content: "";
  position: absolute;
  bottom: 100%;
  background: var(--gray-opacity);
  height: 2px;
  width: 100%;
}

.howTo_section_discover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.howTo_section_discover h2 {
  font-size: 60px;
  font-family: serif;
  font-weight: 500;
}

.howTo_section_discover_button {
  background: var(--accent3-color);
  color: var(--black);
  border: none;
  border-radius: 35px;
  padding: 1rem 1.5rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.howTo_section_discover_button:hover {
  background: var(--accent4-color);
  color: var(--white);
}

.steps_lockup {
  display: flex;
  gap: 1rem;
}

.lockup {
  padding: 5rem 0 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.lockup::before {
  content: "";
  background: var(--gray-opacity);
  height: 3px;
  width: 95%;
}

.step_number {
  font-size: 100px;
}

.step_details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.step_details h5 {
  font-family: serif;
  font-size: 19px;
  font-weight: 900;
}

.step_details p {
  font-size: 18px;
}

.hero_image_section {
  margin-bottom: 3rem;
}

.hero_image_section img {
  position: relative;
  width: 100%;
  height: 1150px;
  border-radius: 55px;
  object-fit: cover;
}

.hero_image_section div::after {
  content: "";
  position: absolute;
  bottom: -3rem;
  background: var(--gray-opacity);
  height: 2px;
  width: 100%;
}

.contact_us {
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
}

.contact_us div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.contact_us h2 {
  font-family: serif;
  font-size: 60px;
  font-weight: 500;
}

footer {
  padding: 3rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

footer::before {
  content: "";
  background: var(--gray-opacity);
  height: 2px;
  width: 100%;
}

.links {
  display: flex;
  gap: 2rem;
}

.links a {
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.credits {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.left_footer {
  display: flex;
  align-items: end;
  gap: 2rem;
}

.logo {
  width: 70px;
  cursor: pointer;
}

.left_footer p {
  font-size: 15px;
  display: flex;
  gap: 1.5rem;
}

.left_footer p span {
  font-family: "Courier New", Courier, monospace;
}

.reight_footer p {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

@media (min-width: 1920px) {
  .desktop_width {
    display: flex;
  }

  .mobile_width {
    display: none;
  }

  .tablet_hero_image {
    display: none;
  }

  .mobile_hero_image {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1185px) {
  .desktop_hero_frame {
    top: -12%;
  }

  .specifications_table_table {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: thin;
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .desktop_nav {
    display: flex;
  }

  .mobile_nav {
    display: none;
  }

  .desktop_hero_image {
    display: flex;
  }

  .tablet_hero_image {
    display: none;
  }

  .mobile_hero_image {
    display: none;
  }

  .specifications_table_table {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: thin;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .desktop_nav {
    display: none;
  }

  .mobile_nav {
    display: flex;
  }

  .header_content {
    text-align: center;
    font-size: 90px;
  }

  .desktop_hero_image {
    display: none;
  }

  .tablet_hero_image {
    display: flex;
  }

  .mobile_hero_image {
    display: none;
  }

  .logos_row {
    grid-template-columns: 2fr 2fr 2fr;
  }

  .icons_module {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1rem;
  }

  .features_carousel {
    flex-direction: column;
  }

  .features_carousel_text {
    width: 100%;
  }

  .features_carousel_image {
    width: 100%;
  }

  .testimonial_section {
    flex-direction: column;
  }

  .testimonial_image {
    width: 100%;
  }

  .testimonial_quote {
    width: 100%;
    padding: 9rem 2rem;
  }

  .steps_lockup {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .specifications_table_table {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: thin;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .desktop_nav {
    display: none;
  }

  .mobile_nav {
    display: flex;
  }

  .header_content {
    text-align: center;
    font-size: 80px;
  }

  .desktop_hero_image {
    display: none;
  }

  .tablet_hero_image {
    display: none;
  }

  .mobile_hero_image {
    display: flex;
  }

  .logos_row {
    grid-template-columns: 3fr 3fr;
  }

  .icons_module {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 4fr;
    gap: 1rem;
  }

  .features_carousel {
    flex-direction: column;
  }

  .features_carousel_text {
    width: 100%;
  }

  .features_carousel_image {
    width: 100%;
  }

  .testimonial_section {
    flex-direction: column;
  }

  .testimonial_image {
    width: 100%;
  }

  .testimonial_quote {
    width: 100%;
    padding: 9rem 2rem;
  }

  .steps_lockup {
    flex-direction: column;
  }

  .links {
    flex-direction: column;
  }

  .specifications_table_table {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: thin;
  }
}

@media (min-width: 359px) and (max-width: 480px) {
  .desktop_nav {
    display: none;
  }

  .mobile_nav {
    display: flex;
  }

  .header_content {
    text-align: center;
    font-size: 80px;
  }

  .desktop_hero_image {
    display: none;
  }

  .tablet_hero_image {
    display: none;
  }

  .mobile_hero_image {
    display: flex;
  }

  .logos_row {
    grid-template-columns: 1fr;
  }

  .icons_module {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 4fr;
    gap: 1rem;
  }

  .features_carousel {
    flex-direction: column;
  }

  .features_carousel_text {
    width: 100%;
  }

  .features_carousel_image {
    width: 100%;
  }

  .testimonial_section {
    flex-direction: column;
  }

  .testimonial_image {
    width: 100%;
  }

  .testimonial_quote {
    width: 100%;
    padding: 9rem 2rem;
  }

  .steps_lockup {
    flex-direction: column;
  }

  .links {
    flex-direction: column;
  }

  .selections_nav_mobile {
    right: -100%;
  }

  .show_menu {
    right: 0;
  }

  .hero_image_section img {
    position: relative;
    width: 100%;
    height: 368px;
    border-radius: 25px;
    object-fit: cover;
  }

  .howTo_section_discover {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .mobile_image {
    width: 90%;
    height: 100vh;
    position: relative;
    left: 50%;
    top: -40%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.backToTop {
  display: block;
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background: var(--accent4-color);
  box-shadow: inset 5px 3px 10px 0 #ffffff98, inset -5px -5px 8px 0 #000,
    3px 4px 10px 0 #00000094;
  color: #fff;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s ease;
}

.show_backToTop {
  display: none;
  transition: 1s ease;
}

.backToTop:hover {
  scale: 1.15;
  box-shadow: inset 5px 3px 10px 0 #ffffffc7, inset -5px -5px 8px 0 #000,
    3px 4px 10px 0 #000000;
}

.backToTop:active {
  scale: 1.05;
  box-shadow: inset 5px 3px 10px 0 #ffffffc7, inset -5px -5px 8px 0 #000,
    3px 4px 10px 0 #000000;
  transition: none;
}

.arrowUpIcon {
  font-size: 40px !important;
}

.header_hero {
  transform: translateY(20px);
  scale: 0.8;
  opacity: 0;
  transition: 1s ease;
}

.header_hero.show {
  transform: translateY(0);
  scale: 1;
  opacity: 1;
}

.todo {
  border-radius: 25px;
  background: var(--accent4-color);
  transform: translateY(20px);
  scale: 0.8;
  opacity: 0;
  transition: 1s ease, 0.5s ease box-shadow;
}

.todo.show {
  background: transparent;
  transform: translateY(0);
  scale: 1;
  opacity: 1;
}

.move_left {
  width: 120%;
  border-radius: 30px;
  background: var(--accent4-color);
  transform: translateX(-500px);
  opacity: 0;
  transition: 1s ease, 0.8s ease-in-out background;
}

.move_left.show {
  width: unset;
  background: transparent;
  opacity: 1;
  transform: translateX(0);
}
